@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron text-center" style="background-image: url('../../Content/images/NotePaper.jpg'); background-size: 100%;">
        <h1>Welcome to ElevenNote!</h1>
        <p class="lead">ElevenNote is an n-tier MVC application for creating and tracking notes.</p>
</div>